/* https://tailwindcss.com/docs/colors */

:root 
{
    --bg-colour: oklch(14.5% 0 0);
    --button-colour: oklch(26.9% 0 0);
    --button-border-colour: oklch(92.2% 0 0);
    --text-colour: oklch(98.5% 0 0);
}

:root[data-light-mode="1"] 
{
    --bg-colour: oklch(98.5% 0 0);
    --button-colour: oklch(92.2% 0 0);
    --button-border-colour: oklch(26.9% 0 0);
    --text-colour: oklch(14.5% 0 0);
}

body 
{
    background-color: var(--bg-colour);
    color: var(--text-colour);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

h1
{
    font-size: xx-large;
    margin-bottom: 24px;
    max-width: 72.5%;
}

.buttons
{   
    display: flex;
    
    align-items: center;
    justify-content: center;
    max-width: 72.5%;
}

@media only screen and (max-width: 600px) {
    h1
    {
        max-width: 45%;
    }

    .buttons
    {
        max-width: 70%;
        flex-direction: column;
    }
}


button
{
    background-color: var(--button-colour);
    color: var(--text-colour);
    border-color: var(--button-border-colour);
    border-style: solid;
    border-radius: 8px;
    min-width: 80px;
    min-height: 3vh;
    font-size: large;
    cursor: pointer;
    margin: 8px 8px 8px 8px;
}

#toolbarButtons
{
    position: absolute;
    top: 0px;
}

#toolbarButtons > img
{
    cursor: pointer;
}

#sidebarButtons
{
    position: absolute;
    top: 0px;
    right: 2px;
}